# Site settings
title: Labs64.IO Ecosystem
slogan: Agile Business Powerhouse
email: info@labs64.io
description: A comprehensive suite of interconnected microservices designed to streamline and automate critical business workflow steps.
keywords: labs64io,ecosystem,cloud-native,api,integration,microservices,workflow automation,business automation,payment gateway,modularity,digital transformation,efficiency,enterprise software,devops,system architecture
copyright: Labs64 GmbH
company: Labs64.IO

url: "https://labs64.io"
baseurl: ""

dns_prefetch:
 - //netlicensing.io
 - //go.netlicensing.io
 - //ui.netlicensing.io
 - //www.labs64.de
 - //www.labs64.com
 - //labs64.io
 - //io.labs64.com
 - //l64.cc

# Styling
stage_banner_image: "../img/labs64io-stage-banner-01.png"

# Blog
blog_placeholder_image: "/img/blog/blog-placeholder.jpg"
blog_recommended_posts:
  - /blog/2025/05/23/welcome-to-the-labs64io-ecosystem-diary/
  - /blog/2025/06/16/helm-chart-documentation/
  - /blog/2025/08/07/securing-microservices-with-keycloak-and-traefik-authproxy/

# TopNav sticker
topnav_enabled: false
topnav_sticker_text: "GitHub"
topnav_sticker_url: "https://github.com/topics/labs64-io"
topnav_sticker_image: "/img/banner-top-empty.png"
topnav_sticker_onclick: ""
topnav_sticker_target: "_self"

# SEO
#google_analytics_tracking_id: "UA-32654174-1"
google_analytics_tracking_id:
#yandex_metrika_tracking_id: "61860391"
yandex_metrika_tracking_id:

# Build settings
markdown: kramdown
highlight: rouge
permalink: /blog/:year/:month/:day/:title/

# Sass
sass:
  sass_dir: _scss
  style: :compressed

compress_html:
  clippings: []
  comments: []
  endings: []
  profile: false
  ignore:
    envs: []

# Exclude these files from production _site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - .gitignore

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
      show_meta: true
      author: "Labs64"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      show_meta: true
      author: "Labs64"
