<form action="https://www.google.com/search" method="get" role="search" class="NL_google_search" target="_blank" rel="noopener">
    <input type="hidden" name="as_sitesearch" value="{{ site.url | replace: 'https://', '' | replace: 'http://', '' }}">
    <label for="google-site-search" class="sr-only">Search this site</label>
    <div class="input-group">
        <input id="google-site-search" type="search" name="q" class="form-control" placeholder="Search labs64.io" aria-label="Search labs64.io">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
        </span>
    </div>
</form>
