---
layout: page
title: "Driving Innovation in Business Automation: The Labs64.IO Journey"
description: "Follow our journey in business automation. Practical advice, tech insights, and strategies for agile workflows."
permalink: "/blog/"
tags:
  - Blog
  - Journal
  - Announcement
  - News
  - Diary
  - Agile workflow automation
  - Business process automation
  - Microservices architecture
  - DevOps best practices
  - Software development
  - Cloud native solutions
  - Enterprise software
  - Digital transformation
  - Workflow management
  - Scalable solutions
  - Custom software development
  - API integration
  - Business agility
  - IT infrastructure
  - Productivity tools
  - SaaS solutions
  - Continuous delivery
  - System integration
  - Technical insights
no-cache: true
---
<div class="row NL_banner">
	<div class="col-md-6 col-md-offset-3 NL_about_page">
		<h1>Labs64.IO Ecosystem Diary</h1>
		<span>Get ready for a candid look behind the scenes as we build Labs64.IO Ecosystem the Agile Business Workflow Powerhouse of interconnected microservices for your business.</span>
    </div>
</div>

<section id="articles" class="js-packery" data-packery-options='{ "itemSelector": ".card", "gutter": 10 }'>
    {% assign exclude_tags = "internal,draft,private" | split: "," %}
    {% for post in site.posts %}
    {% assign hide_post = false %}
    {% for tag in post.tags %}
      {% if exclude_tags contains tag %}
        {% assign hide_post = true %}
      {% endif %}
    {% endfor %}
    {% if post.layout == "post" and hide_post == false %}
    <div class="card radius shadowDepth1">
        <div class="card__image border-tlr-radius">
            <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
                <img src="{% if post.image.url %}{{ post.image.url }}{% else %}{{ site.blog_placeholder_image }}{% endif %}"
                     alt="{{ post.title }}" class="border-tlr-radius">
            </a>
        </div>
        <div class="card__content card__padding">
            <div class="card__meta">
                <ul>
                    <li>
                        <time datetime="{{ post.date | date: '%Y-%m-%d' }}"
                              title="{{ post.date | date: '%b %-d, %Y' }}">{{ post.date | date: "%b %-d, %Y" }}
                        </time>
                    </li>
                    <li>
                        <address class="author">&nbsp;by
                            {% if post.author.name %}
                              {% assign author_name = post.author.name %}
                            {% else %}
                              {% assign author_name = site.title %}
                            {% endif %}

                            {% if post.author.url %}
                              <a href="{{ post.author.url }}" target="_blank">{{ author_name }}</a>
                            {% else %}
                              {{ author_name }}
                            {% endif %}
                        </address>
                    </li>
                </ul>
            </div>
            <article class="card__article">
                <header>
                    <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                </header>
                {{ post.excerpt }}
            </article>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</section>
